<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css"
/>
<div class="container" style="display: block">
  <div
    class="d-flex flex-row justify-content-center min-vh-100 align-items-center"
  >
    <div class="img-fluid d-none d-sm-block shadow">
      <img
        src="./assets/images/std.jpeg "
        style="
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        "
      />
    </div>

    <div
      class="col-md-4 shadow p-4"
      style="
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 530px;
        z-index: 10;
      "
    >
      <form [formGroup]="signupform" (ngSumbit)="signupuser()">
        <div class="col ">
          <h3 style="font-weight: 600">Sign Up</h3>
        </div>
        <div class="col"><p>Enter Details to create your account</p></div>
        <div class="col">
          <div class="form-group" style="padding-bottom: 15px; z-index: 10">
            <span>
              <i
                class="bi bi-person-circle"
                style="right: 25px; position: absolute; margin-top: 10px"
              ></i>
            </span>
            <label
              for="input1"
              style="
                margin-left: 12px;
                margin-left: 15px;
                margin-top: -12px;
                position: absolute;
                background-color: white;
              "
            >
              Username
            </label>
            <input
              type="text"
              class="form-control"
              id="input1"
              pattern="^[A-Za-z][A-Za-z0-9_]{4,6}$"
              formControlName="username"
              required
            />
            <div
              [ngClass]="{
                'has-error':
                  username?.invalid && (username?.dirty || username?.touched)
              }"
              style="
                color: red;
                font-size: 15px;
                position: absolute;
                display: block;
                z-index: 10;
              "
            >
              <div
                *ngIf="
                  username?.hasError('required') &&
                  (username?.dirty || username?.touched)
                "
              >
                This field is required.
              </div>
              <div
                *ngIf="
                  username?.hasError('pattern') &&
                  (username?.dirty || username?.touched)
                "
              >
                Username Invalid Pattern
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group" style="padding-bottom: 15px">
            <span
              ><i
                class="bi bi-envelope-fill"
                style="right: 25px; position: absolute; margin-top: 10px"
              ></i
            ></span>
            <label
              for="input2"
              style="
                margin-left: 12px;
                margin-left: 15px;
                margin-top: -12px;
                position: absolute;
                background-color: white;
              "
            >
              E-mail
            </label>
            <input
              type="email"
              formControlName="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              class="form-control"
              id="input3"
              required
            />

            <div
              [ngClass]="{
                'has-error': email?.invalid && (email?.dirty || email?.touched)
              }"
              style="
                color: red;
                font-size: 15px;
                position: absolute;
                display: block;
                z-index: 10;
              "
            >
              <div
                *ngIf="
                  email?.hasError('required') &&
                  (email?.dirty || email?.touched)
                "
              >
                This field is required.
              </div>
              <div
                *ngIf="
                  email?.hasError('pattern') && (email?.dirty || email?.touched)
                "
              >
                E-mail Invalid Pattern
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group" style="padding-bottom: 15px">
            <span
              (click)="viewpass()"
              style="
                right: 25px;
                position: absolute;
                margin-top: 10px;
                cursor: pointer;
              "
            >
              <i
                [ngClass]="
                  passvisible ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'
                "
              ></i>
            </span>
            <label
              for="input3"
              style="
                margin-left: 12px;
                margin-left: 15px;
                margin-top: -12px;
                position: absolute;
                background-color: white;
              "
            >
              Password
            </label>
            <input
              [type]="passinputtype ? 'password' : 'text'"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              class="form-control"
              id="input1"
              required
              formControlName="password"
            />
            <div
              [ngClass]="{
                'has-error':
                  password?.invalid && (password?.dirty || password?.touched)
              }"
              style="
                color: red;
                font-size: 15px;
                position: absolute;
                display: block;
                z-index: 10;
              "
            >
              <div
                *ngIf="
                  password?.hasError('required') &&
                  (password?.dirty || password?.touched)
                "
              >
                This field is required.
              </div>
              <div
                *ngIf="
                  password?.hasError('pattern') &&
                  (password?.dirty || password?.touched)
                "
              >
                Invalid Pattern
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group" style="padding-bottom: 5px">
            <span
              (click)="confirmviewpass()"
              style="
                right: 25px;
                position: absolute;
                margin-top: 10px;
                cursor: pointer;
              "
            >
              <i
                [ngClass]="
                  confirmvisible ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'
                "
              ></i>
            </span>
            <label
              for="input3"
              style="
                margin-left: 12px;
                margin-left: 15px;
                margin-top: -12px;
                position: absolute;
                background-color: white;
              "
            >
              Confirm password
            </label>
            <input
              [type]="confirminputtype ? 'password' : 'text'"
              class="form-control"
              id="input1"
              formControlName="confirmpassword"
              required
            />
            <div
              [ngClass]="{
                'has-error':
                  confirmpassword?.invalid &&
                  (confirmpassword?.dirty || confirmpassword?.touched)
              }"
              style="
                color: red;
                font-size: 15px;
                position: absolute;
                display: block;
                z-index: 10;
              "
            >
              <div
                *ngIf="
                  confirmpassword?.hasError('required') &&
                  (confirmpassword?.dirty || confirmpassword?.touched)
                "
              >
                This Field is Required.
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <p>
            Already Registered? <span><a href>Login</a></span>
          </p>
        </div>
        <div class="col">
          <button
            class="btn btn-primary btn-block"
            [disabled]="signupform.invalid"
            type="submit"
          >
            Register
          </button>
        </div>
        <div class="col">
          <hr style="background-color: black" />
          <p class="text-center" style="margin-top: -29px">OR</p>
        </div>
        <div class="col">
          <div class="text-center mb-3">
            <i class="bi bi-google px-2"></i>
            <i class="bi bi-facebook px-2"></i><i class="bi bi-twitter px-2"></i
            ><i class="bi bi-linkedin px-2"></i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
