<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" />
<div class="container ">
  <div class="d-flex flex-row justify-content-center min-vh-100 align-items-center ">
    <div class="img-fluid d-none d-sm-block shadow "><img src="./assets/images/std.jpeg "
        style="height: 503px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-top-left-radius: 10px;border-bottom-left-radius: 10px; "></div>

    <div class="col-md-4 shadow" style="border-top-right-radius: 10px;border-bottom-right-radius: 10px;">

      <form [formGroup]="signupform" (ngSumbit)="signupuser() ">
        <h1 style="font-weight:600;">Sign Up</h1>
        <p>Enter Details to create your account</p>
        <div class="form-group " style="padding-bottom:10px;">
          <span> <i class="bi bi-person-circle" style="right:25px;position:absolute;margin-top: 10px;"></i> </span>
          <label for="input1" style="
                margin-left: 12px;
                margin-left: 15px;
                margin-top: -12px;
                position: absolute;
                background-color: white;
                border: 2px solid white;
              ">
            Username
          </label>
          <input type="text" class="form-control" id="input1" formControlName="username" required />
          <div style="color: red;font-size:15px;position: absolute;z-index: 10;font-size:15px ;"
            *ngIf="username && username.invalid && username.touched">
            This feild is required
          </div>

        </div>
        <div class="form-group" style="padding-bottom:10px;">
          <span><i class="bi bi-envelope-fill" style="right:25px;position:absolute;margin-top: 10px;"></i></span>
          <label for="input2" style="
                margin-left: 12px;
                margin-left: 15px;
                margin-top: -12px;
                position: absolute;
                background-color: white;
                border: 2px solid white;
              ">
            E-mail
          </label>
          <input type="email" formControlName="email  " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            class="form-control" id="input3" required />
        </div>

        <div class="form-group" style="padding-bottom:10px;">
          <span (click)="viewpass()" style="right:25px;position:absolute;margin-top: 10px;cursor: pointer;">
            <i [ngClass]="passvisible?'bi bi-eye-slash-fill':'bi bi-eye-fill'"></i>
          </span>
          <label for="input3" style="
                margin-left: 12px;
                margin-left: 15px;
                margin-top: -12px;
                position: absolute;
                background-color: white;
                border: 2px solid white;
              ">
            Password
          </label>
          <input [type]="passinputtype?'password':'text'" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            class="form-control" id="input1" required />
        </div>
        <div class="form-group">
          <span (click)="confirmviewpass()" style="right:25px;position:absolute;margin-top: 10px;cursor: pointer;">
            <i [ngClass]="confirmvisible?'bi bi-eye-slash-fill':'bi bi-eye-fill'"></i>
          </span>
          <label for="input3" style="
                margin-left: 12px;
                margin-left: 15px;
                margin-top: -12px;
                position: absolute;
                background-color: white;
                border: 2px solid white;
              ">
            Confirm password
          </label>
          <input [type]="confirminputtype?'password':'text'" class="form-control" id="input1" formControlName="password"
            required />
        </div>
        <p>Already Registered? <span><a href="">Login</a></span></p>
        <button class="btn btn-primary btn-block " [disabled]="signupform.invalid" type="submit">Register</button>

        <hr style="background-color: black;">
        <p class="text-center" style="margin-top: -29px;">
          OR</p>
        <div class="text-center mb-3">
          <i class="bi bi-google px-2"></i>
          <i class="bi bi-facebook px-2"></i><i class="bi bi-twitter px-2"></i><i class="bi bi-linkedin px-2"></i>
        </div>
      </form>

    </div>
  </div>
</div>

